.container {
    max-width: 1440px;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    border-collapse: collapse;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

tr:hover {
    background-color: #ddd;
}
